extends baseEmail

block content
  p Chào #{to},
  p Cảm ơn bạn đã mua sắm tại D-SHOP! 🎉
  p Đơn hàng của bạn đã được xử lý thành công. Chúng tôi rất trân trọng sự tin tưởng và lựa chọn của bạn đối với cửa hàng của chúng tôi.
  p Nếu bạn cần hỗ trợ thêm hoặc có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi bất kỳ lúc nào.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
  p Chúng tôi hy vọng sẽ tiếp tục phục vụ bạn trong những lần mua sắm tiếp theo!
  p - Đội ngũ D-SHOP
